@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Press Start 2P', monospace;
  color: #ff8d47;
  text-shadow: 
    -2px -2px 0px #000,
    -2px 2px 0px #000,
    2px -2px 0px #000,
    2px 0px 0px #000;
}

.header-wrapper {
  height: 100vh;
  width: 100vw;
  background: url('./media/mrd7stj7vtv71.webp');
  background-size: 150%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation: bg-transition 80s ease-in-out infinite;
}

h1 {
  letter-spacing: 5px;
}

h2 {
  letter-spacing: 3px;
}

.social {
  margin-top: 1rem;
  display: flex;
}

a {
  text-decoration: none;
  color: #5abc5a;
  text-shadow: 
    -1px -1px 0px #000,
    -1px 1px 0px #000,
    1px -1px 0px #000,
    1px 0px 0px #000;
  font-size: 20px;
  padding: 1rem 3rem;
  border: 2px solid #5abc5a;
  min-width: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: cubic-bezier(0.445, 0.05, 0.55, 0.95) 0.1s;
}

a:hover {
  color: white;
  background-color: rgba(0, 0, 0, 0.3);
}

@keyframes bg-transition {
  0% {
    background-position: 0% 80%;
  }
  10% {
    background-position: 72% 64%;
  }
  20% {
    background-position: 64% 14%;
  }
  30% {
    background-position: 11% 22%;
  }
  40% {
    background-position: 18% 69%;
  }
  50% {
    background-position: 40% 55%;
  }
  60% {
    background-position: 86% 8%;
  }
  70% {
    background-position: 70% 75%;
  }
  80% {
    background-position: 24% 19%;
  }
  90% {
    background-position: 59% 21%;
  }
  100% {
    background-position: 0% 80%;
  }
}

/* Hamburger menu */

.checkbox-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.checkbox {
  height: 100px;
  width: 100px;
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  justify-content: center;
  cursor: pointer;
  z-index: 100;
  transition: 0.4s ease-in-out 0;
}

.checkbox .trace {
  width: 50px;
  height: 3px;
  background-color: #5abc5a;
  position: absolute;
  transition: 0.4s ease-in-out;
}

.checkbox .trace:nth-child(1) {
  top: 26px;
  transform: rotate(0);
}

.checkbox .trace:nth-child(2) {
  top: 46px;
}

.checkbox .trace:nth-child(3) {
  top: 66px;
  transform: rotate(0);
}

#toggle {
  display: none;
}

/* Menu */

.menu {
  position: absolute;
  top: 30px;
  right: 30px;
  background: transparent;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  box-shadow: 0 0 0 0 orange;
  z-index: -1;
  transition: 0.4s ease-in-out 0;
}

.menu-items {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  opacity: 0;
  visibility: hidden;
  transition: 0.4s ease-in-out 0;
}

.menu-items ul {
  list-style-type: none;
}

.menu-items ul li {
  margin: 10px 0;
  color: #000;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 40px;
}

/* Menu Animation */

#toggle:checked + .checkbox .trace:nth-child(1) {
  transform: rotate(45deg);
  top: 47px;
}

#toggle:checked + .checkbox .trace:nth-child(2) {
  width: 0px;
  visibility: hidden;
}

#toggle:checked + .checkbox .trace:nth-child(3) {
  transform: rotate(-45deg);
  top: 48px
}
